/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonte global */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  color: #333;
  line-height: 1.5;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Listas */
ul {
  list-style: none;
}
